@model Instagram.Models.Post

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Caption)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Caption)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostLikes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostLikes.Count)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>User</th>
                    <th>Content</th>
                    <th>Time</th>
                    <th>Likes Count</th>
                </tr>
                @foreach (var item in Model.Comments)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.User)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Content)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CommentTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CommentLikes.Count)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
